<div class="sheet-card" *ngIf="combatant" [class.minimized]="minimized">
  <div *ngIf="self.methods.combatantConnected(combatant) else disconnected">
    <div [ngSwitch]="combatant.type">
      <bt-battlemap-active-card-dnd5e      [self]="self" [sheet]="self.methods.connectedCombatantSheet(combatant)" *ngSwitchCase="'dnd5e'"></bt-battlemap-active-card-dnd5e>
      <bt-battlemap-active-card-pathfinder [self]="self" [sheet]="self.methods.connectedCombatantSheet(combatant)" *ngSwitchCase="'pathfinder'"></bt-battlemap-active-card-pathfinder>
      <bt-battlemap-active-card-rpg        [self]="self" [sheet]="self.methods.connectedCombatantSheet(combatant)" *ngSwitchCase="'rpg'"></bt-battlemap-active-card-rpg>
      <bt-battlemap-active-card-custom     [self]="self" [token]="token" [combatant]="combatant" *ngSwitchDefault></bt-battlemap-active-card-custom>
    </div>
  </div>

  <button class="unstyled-button base-color minimize-button h24" (click)="toggleMinimized()">
    <i class="material-icons">keyboard_arrow_down</i>
  </button>
  <div class="mini-sheet-card">
    <button class="unstyled-button base-color h36" (click)="toggleMinimized()">
      <i class="material-icons">keyboard_arrow_up</i>
    </button>
  </div>
</div>

<ng-template #disconnected>
  <div class="flex-row-all flex-config-align-center flex-gutters-5">
    <div class="flex-col profile-image-col" *ngIf="token && token.image">
      <div class="profile-image">
        <div class="img" [ngStyle]="{ 'background-image': 'url(' + token.image + ')' }"></div>
      </div>
    </div>
    <div class="flex-col flex-dynamic">
      <div *ngIf="combatant.type else no_type">
        <div *ngIf="combatant.sheet_id else no_sheet">
          <h2 class="h18 bm-10">{{ combatant.name }}</h2>
          <button *ngIf="combatant.sheet_id" class="button button-cyan" (click)="self.methods.connectCombatantToSheet(combatant)">Load sheet details</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #no_type>
  <h2 class="h18 bm-10">Setup {{ combatant.name }} :: Connect or enter data manually</h2>
  <div class="flex-row-all flex-gutters-5">
    <ng-container *ngIf="token else no_token">
      <div class="flex-col-4">
        <button class="button button-cyan button-block" (click)="setCombatantType('dnd5e')">Connect to D&D 5e Sheet</button>
      </div>
      <div class="flex-col-4">
        <button class="button button-cyan button-block" (click)="setCombatantType('pathfinder')">Connect to Pathfinder Sheet</button>
      </div>
      <div class="flex-col-4">
        <button class="button button-cyan button-block" (click)="setCombatantType('rpg')">Connect to RPG Sheet</button>
      </div>
    </ng-container>
    <div class="flex-col-4">
      <button class="button button-cyan button-block" (click)="setCombatantType('custom')">Custom Stats</button>
    </div>
  </div>
</ng-template>

<ng-template #no_token>
  <div class="flex-col-4">
    <div class="select-wrap">
      <i class="material-icons">arrow_drop_down</i>
      <label>Connect to Token</label>
      <select class="form-control" (ngModelChange)="self.methods.reverseConnectTokenWithCombatant(combatant)" [(ngModel)]="combatant.$token_id">
        <option [value]="token.id" *ngFor="let token of self.methods.listSceneTokens(scene)">{{ token.label }}</option>
      </select>
    </div>
  </div>
  <div class="flex-col-4">
    <button class="button button-cyan button-block" (click)="self.methods.addToken({}, combatant)">Create Token</button>
  </div>
</ng-template>

<ng-template #no_sheet>
  <h2 class="h18 bm-10">Choose sheet for {{ combatant.name }}</h2>
  <div class="select-wrap bm-5" *ngIf="self.locals.ready">
    <i class="material-icons">arrow_drop_down</i>
    <label>{{ combatant.sheet_id ? combatant.name : 'Connect to Sheet' }}</label>
    <select
      class="form-control"
      (ngModelChange)="self.methods.setConnectedCombatantDetails(combatant, token)"
      [(ngModel)]="combatant.sheet_id"
    >
      <option [value]="tool.id" *ngFor="let tool of self.methods.avaialbleSheetsByType(combatant.type)">{{ tool.title }}</option>
    </select>
  </div>
  <button class="button button-cyan" (click)="setCombatantType(null)">Back</button>
</ng-template>
