<div class="max-500 auto-margin">
  <h4 class="gh3">Choose your Druid Circle</h4>
  <div class="bm-20" *ngFor="let circle of self.locals.selection.druid_circles">
    <div class="flex-row-all flex-gutters-10">
      <div class="flex-col">
        <button class="button button-checkbox" (click)="self.model.powers.Druid.circle = circle" [ngClass]="self.model.powers.Druid.circle === circle ? 'checked' : 'unchecked'">
          <fa-icon class="check-icon" [icon]="['fa', 'check']"></fa-icon>
        </button>
      </div>
      <div class="flex-col">
        <h5 class="gh4">{{ circle }}</h5>
        <p>{{ self.locals.data.builder.create_powers.Druid.circles[circle] }}</p>
      </div>
    </div>
  </div>
</div>
