<div class="screens">
  <div class="loading tool-screen flex-row-all flex-config-wrap flex-config-centered" *ngIf="!self.locals.ready">
    <div class="max-400">
      <div class="logo bmr-30"></div>
      <div class="inner bmr-30">
        <h2 class="rh36 bm-20">Loading document, <br>please wait...</h2>
        <div class="loading-icon"><fa-icon class="bt-icon-spin" [icon]="['fas', 'cog']"></fa-icon></div>
      </div>
      <h3 class="rh16">Thanks for using Beyond Tabletop! If you run into any issues, please let us know <a href="https://www.reddit.com/r/beyondtabletop" target="_blank">on our subreddit</a>.</h3>
    </div>
  </div>
</div>
