<div class="overview-abilities-block">
  <div class="flex-row-all flex-gutters-10">
    <div class="flex-col-6 nav-clickable" (click)="self.methods.switchTab('abilities')">
      <div class="flex-row-all flex-gutters-5 f10 light-gray bm-10">
        <div class="flex-col-6">Name</div>
        <div class="flex-col-6">Score/Mod/Save</div>
      </div>
      <div class="flex-row-all flex-gutters-5" *ngFor="let ability of self.locals.selection.abilities">
        <div class="flex-col-6"><span>{{ ability }}</span>:</div>
        <div class="flex-col-6">
          <strong>{{ self.methods.getAbilityTotal(self.model.abilities[ability]) }}</strong>
          /
          <strong>{{ self.methods.getAbilityMod(self.model.abilities[ability]) }}</strong>
          /
          <strong>{{ self.methods.getSaveTotal(self.model.abilities[ability]) }}</strong>
        </div>
      </div>
    </div>
    <div class="flex-col-6 nav-clickable">
      <div class="flex-row-all flex-gutters-5 nav-clickable" (click)="self.methods.switchTab('combat')">
        <div class="flex-col-6">Initiative:</div>
        <div class="flex-col-6">
          <strong>{{ self.methods.getTotalInit() }}</strong>
        </div>
      </div>
      <div class="flex-row-all flex-gutters-5 nav-clickable bm-10" (click)="self.methods.switchTab('combat')">
        <div class="flex-col-6">Speed:</div>
        <div class="flex-col-6">
          <strong>{{ self.methods.getTotalSpeed() }}</strong>
        </div>
      </div>
      <div class="flex-row-all flex-gutters-5 flex-config-align-center nav-clickable" (click)="self.methods.switchTab('general')">
        <div class="flex-col-6">Inspiration:</div>
        <div class="flex-col num-field-column flex-static hide-for-read-only">
          <input type="number" class="form-control max-60" (ngModelChange)="self.touch()" [(ngModel)]="self.model.basic.inspiration">
        </div>
      </div>
    </div>
  </div>
</div>
