<div class="max-500 auto-margin">
  <h4 class="gh3">Choose your path</h4>
  <div class="bm-20" *ngFor="let path of self.locals.selection.barbarian_paths">
    <div class="flex-row-all flex-gutters-10">
      <div class="flex-col">
        <button class="button button-checkbox" (click)="self.model.powers.Barbarian.path = path" [ngClass]="self.model.powers.Barbarian.path === path ? 'checked' : 'unchecked'">
          <fa-icon class="check-icon" [icon]="['fas', 'check']"></fa-icon>
        </button>
      </div>
      <div class="flex-col">
        <h5 class="gh4">{{ path }}</h5>
        <p>{{ self.locals.data.builder.create_powers.Barbarian.paths[path] }}</p>
      </div>
    </div>
  </div>
</div>
