<div class="max-500 auto-margin">
  <h4 class="gh3">Choose a Monastic Tradition</h4>
  <div class="bm-20" *ngFor="let tradition of self.locals.selection.monastic_traditions">
    <div class="flex-row-all flex-gutters-10">
      <div class="flex-col">
        <button class="button button-checkbox" (click)="self.model.powers.Monk.tradition = tradition" [ngClass]="self.model.powers.Monk.tradition === tradition ? 'checked' : 'unchecked'">
          <fa-icon class="check-icon" [icon]="['fas', 'check']"></fa-icon>
        </button>
      </div>
      <div class="flex-col">
        <h5 class="gh4">{{ tradition }}</h5>
        <p>{{ self.locals.data.builder.create_powers.Monk.traditions[tradition] }}</p>
      </div>
    </div>
  </div>
</div>
