<div class="combatant flex-row-all flex-config-align-center"
  (click)="self.methods.selectItem(token, combatant)"
  [class.active]="self.methods.combatantIsActive(combatant)"
  [class.hide-for-players]="self.methods.combatantIsHidden(token)"
>
  <div class="flex-col flex-static rp-5 base-color">
    <input [(ngModel)]="combatant.init" (blur)="self.methods.setCombatantInit(combatant)" *ngIf="self.methods.canEditItem(token) else displayInit" type="text" class="form-control initiative">
  </div>

  <div class="flex-col flex-dynamic">
    <h4>{{ combatant.name }}</h4>
  </div>
  
  <div class="flex-col flex-static">
    <button class="unstyled-button base-color corner-button h18" title="Remove from Combat" (click)="removeCombatant()">
      <i class="material-icons">delete</i>
    </button>
  </div>
</div>

<ng-template #displayInit>
  <h4>{{ combatant.init }}</h4>
</ng-template>
