.button {
  padding: 7px 12px;
  border-radius: 4px;
  color: #FFF;
  font-family: $rubik;
  @include header-size(16, 16, 14, 12, 1);
  margin: 0;
  @include inline-block(middle);
  border: 0;
  font-weight: 400;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #FFF;
  }
  &:focus, &:active {
    outline: none;
    @include box-shadow(none);
    border: 0;
    color: #FFF;
  }
  @include above-tablet {
    padding: 9px 15px;
  }
  i {
    @include header-size(18, 18, 16, 14, 1);
    position: relative;
    top: -1px;
  }
}
.button-unstyled {
  @include unstyled-button;
}
.button-gray {
  background: #95a5a6;
  &:hover {
    background: lighten(#95a5a6, 10%);
  }
}
.button-green {
  background: #27ae60;
  &:hover {
    background: lighten(#27ae60, 10%);
  }
}
.button-orange, .button-primary {
  background: $primary-color;
  &:hover {
    background: darken($primary-color, 10%);
  }
}
.button-secondary {
  background: $secondary-color;
  &:hover {
    background: darken($secondary-color, 10%);
  }
}
.button-cyan {
  background: $cyan-color;
  &:hover {
    background: darken($cyan-color, 10%);
  }
}
.button-ghost {
  background: white;
  color: #333;
  border: 1px solid #AAA;
  &:hover {
    background: #eee;
    color: #333;
  }
  &:focus, &:active, &:focus:active {
    background: #f1f1f1;
    border: 1px solid #AAA;
    color: #333;
  }
}
.button-red {
  background: $red;
  &:hover {
    background: darken($red, 10%);
  }
}
.button-white {
  background: white;
  color: #333;
  &:hover {
    color: #777;
  }
}
.button-link {
  color: white;
  &:hover {
    text-decoration: none;
  }
}
.button-large {
  @include font-size(22, 1);
  padding: 15px 0;
  display: block;
  border-radius: 4px;
  width: 100%;
  @include above-mobile {
    width: auto;
    border-radius: 8px;
    display: inline-block;
    padding: 25px;
  }
}
.button-small {
  padding: 6px 15px;
  @include font-size(14, 1);
}
.button-cta {
  @include font-size(22, 1);
  padding: 30px 20px;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  @include above-mobile {
    width: auto;
    @include inline-block(middle);
  }
}
.button-link {
  background: transparent;
  color: $cyan-color;
  &:hover, &:focus, &:active, &:focus:active {
    color: lighten($cyan-color, 20%);
  }
}
.button-muted {
  color: #AAA;
  &:hover {
    color: #777;
  }
}

.icon-button {
  background: transparent;
  padding: 0;
  border: 0;
  @include font-size(18, 1);
  color: #999;
}
.button-block {
  display: block;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.button-checkbox {
  padding: 8px;
  width: 48px;
  height: 48px;
  border: 4px solid $border-color;
  @include flex-row-at(0);
  @include flex-align(center);
  @include flex-justify(center);
  @include font-size(24, 1);
  background: transparent;
  .check-icon {
    display: none;
    color: $green;
  }
  &:hover {
    border-color: darken($border-color, 10%);
  }
  &:focus, &:active {
    border: 4px solid $border-color;
  }
  &.checked {
    border-color: $green;
    .check-icon {
      display: block;
    }
  }
  &.unchecked {
    .check-icon {
      display: none;
    }
  }
}

.g-remove {
  @include unstyled-button;
  @include font-size(16);
  color: #AAA;
}
.g-add {
  @include unstyled-button;
  @include font-size(20);
  color: $primary-color;
  .text {
    @include header-size(14, 14, 14, 12);
  }
}
.g-neutral {
  @include unstyled-button;
  @include font-size(20);
  color: #999;
  &:hover {
    color: #333;
  }
}
.g-check {
  @include unstyled-button;
  @include font-size(20);
  color: $green;
}
.g-icon {
  @include unstyled-button;
  @include font-size(24);
  color: $cyan-color;
}
.g-error {
  color: $red;
  opacity: .75;
}
