//***************************************************
// VARIABLES
//***************************************************

$mobile: 480px;
$tablet: 768px;
$desktop: 1000px;

$default-font-size: 14;
$default-line-height: 1.5;
$default-weight: 400;
$h0-size: 72, 1;
$h1-size: 55, 1;
$h2-size: 46, 1.3;
$h3-size: 28, 1.2;
$h4-size: 20, 1.2;
$h5-size: 16;
$h6-size: 14;
$h7-size: 12;

$sans: 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
$title: $sans;
$rubik: $sans;

$red: #f32e2e;
$green: #36c06a;
$blue: #165c9e;
$cyan-color: #42b5e8;

$primary-color: #EB6326;
$secondary-color: #2e2f33;
$border-color: #f2f2f2;

$black: black;
$white: white;

$base: #b1bbc7;
