<div class="max-500 auto-margin">
  <h4 class="gh3">Choose your Origin</h4>
  <div class="bm-20" *ngFor="let origin of self.locals.selection.sorcerous_origins">
    <div class="flex-row-all flex-gutters-10">
      <div class="flex-col">
        <button class="button button-checkbox" (click)="self.model.powers.Sorcerer.origin = origin" [ngClass]="self.model.powers.Sorcerer.origin === origin ? 'checked' : 'unchecked'">
          <fa-icon class="check-icon" [icon]="['fas', 'check']"></fa-icon>
        </button>
      </div>
      <div class="flex-col">
        <h5 class="gh4">{{ origin }}</h5>
        <p>{{ self.locals.data.builder.create_powers.Sorcerer.origins[origin] }}</p>
      </div>
    </div>
  </div>
</div>
