<div class="main">
  <header>
    <a class="logo" routerLink="/dashboard"></a>
  </header>
  <div class="inner">
    <p class="bmr-60">This is a community-supported project. If you like our tools, please consider supporting their continued development.</p>
    <div class="text-center bmr-60">
      <a href="https://paypal.me/beyondtabletop" class="button button-cyan page-button">Donate</a>
    </div>
    <a href="https://paypal.me/beyondtabletop" class="img-link-wrap"><img src="/assets/img/upgrade-vertical.png" alt="Donate"></a>
  </div>
</div>
