<div class="bm-40" *ngFor="let collectable of self.methods.$list(self.methods.getCollectableById(entity.collectable))">
  <h2 class="gh3">{{ entity.name }}</h2>
  <div class="collection-label-row bm-5" *ngIf="collectable.label_type === 'above'">
    <div class="flex-row-all flex-gutters-5 flex-config-align-center flex-config-spaced">
      <div class="flex-col" *ngFor="let field of self.methods.listCollectableFields(collectable)" [ngClass]="self.methods.getCollectableFieldClasses(field)">
        <label class="control-label">{{ field.name }}</label>
      </div>
    </div>
  </div>
  <div cdkDropList [cdkDropListData]="self.model.collection_items" (cdkDropListDropped)="self.methods.onSortableDrop($event)"> <!--todo sortable: [data-collection-id]="entity.id"-->
    <div class="flex-row-all flex-gutters-5 bm-10 js-collection-item" *ngFor="let item of self.methods.listCollectionItems(entity)" cdkDrag [cdkDragData]="item">
      <div class="flex-col flex-static">
        <span class="drag-handle g-neutral" cdkDragHandle><i class="material-icons">menu</i></span>
      </div>
      <div class="flex-col flex-dynamic">
        <div class="flex-row-all flex-gutters-5 flex-config-wrap flex-config-align-center flex-config-spaced">
          <div class="flex-col" [ngSwitch]="field.input_type" *ngFor="let field of self.methods.listCollectableFields(collectable)" [ngClass]="self.methods.getCollectableFieldClasses(field)">
            <bt-rpg-collectable-input-boolean    [self]="self" [field]="field" [item]="item" [collectable]="collectable" *ngSwitchCase="'boolean'"></bt-rpg-collectable-input-boolean>
            <bt-rpg-collectable-input-formula    [self]="self" [field]="field" [item]="item" [collectable]="collectable" *ngSwitchCase="'formula'"></bt-rpg-collectable-input-formula>
            <bt-rpg-collectable-input-number     [self]="self" [field]="field" [item]="item" [collectable]="collectable" *ngSwitchCase="'number'"></bt-rpg-collectable-input-number>
            <bt-rpg-collectable-input-reference  [self]="self" [field]="field" [item]="item" [collectable]="collectable" *ngSwitchCase="'reference'"></bt-rpg-collectable-input-reference>
            <bt-rpg-collectable-input-text       [self]="self" [field]="field" [item]="item" [collectable]="collectable" *ngSwitchCase="'text'"></bt-rpg-collectable-input-text>
            <bt-rpg-collectable-input-textarea   [self]="self" [field]="field" [item]="item" [collectable]="collectable" *ngSwitchCase="'textarea'"></bt-rpg-collectable-input-textarea>
          </div>
        </div>
        <div class="help-text tm-5" *ngIf="self.methods.hasActiveConditions(item)">{{ self.methods.listActiveConditions(item) }}</div>
      </div>
      <div class="flex-col flex-static">
        <button class="g-remove" (click)="self.methods.removeByObject(entity.items, item)"><i class="material-icons">delete</i></button>
      </div>
    </div>
  </div>

  <button class="g-add" (click)="self.methods.addCollectionItem(entity)"><i class="material-icons">add</i></button>
</div>
