<div class="sheet-tab">
  <div class="flex-row-tablet flex-gutters-10">
    <div class="flex-col-6">
      <h2 class="group-header">Lists</h2>
      <p class="help-text" [class.bt-hide]="!self.model.prefs.help">Each list contains any number of list items. Each list item has a name and a description. You can use lists for just about anything!</p>
      <div class="bmr-60" cdkDropList [cdkDropListData]="self.model.lists" (cdkDropListDropped)="self.methods.onSortableDrop($event)">
        <div class="js-list bmr-40" *ngFor="let list of self.methods.listLists()" cdkDrag [cdkDragData]="list">
          <div class="flex-row-all flex-config-align-center flex-gutters-5">
            <div class="flex-col">
              <span class="drag-handle g-neutral" cdkDragHandle><i class="material-icons">menu</i></span>
            </div>
            <div class="flex-col flex-dynamic list-title">
              <input type="text" class="form-control h5" placeholder="List Name" (ngModelChange)="self.touch()" [(ngModel)]="list.name">
            </div>
            <div class="flex-col flex-static">
              <bt-hold-delete title="Remove List" (holdComplete)="self.methods.removeByObject(self.model.lists, list)"></bt-hold-delete>
            </div>
          </div>
          <div class="lp-30 bm-10">
            <label class="checkbox-inline checkbox-wrap">
              <input type="checkbox" title="Show on Overview" (ngModelChange)="self.touch()" [(ngModel)]="list.special"> Show <span>{{ list.name }}</span> on Overview?
            </label>
          </div>
          <div cdkDropList [cdkDropListData]="list.items" (cdkDropListDropped)="self.methods.onSortableDrop($event)">
            <div class="flex-row-all flex-config-align-center flex-gutters-5 bm-5 js-list-item" *ngFor="let item of self.methods.listListItems(list)" cdkDrag [cdkDragData]="item">
              <div class="flex-col">
                <span class="sub-drag-handle g-neutral" cdkDragHandle><i class="material-icons">menu</i></span>
              </div>
              <div class="flex-col flex-dynamic">
                <textarea class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="item.text" placeholder="Item Description"></textarea>
              </div>
              <div class="flex-col flex-static">
                <button title="Remove List Item" class="g-remove" (click)="self.methods.removeByObject(list.items, item)"><i class="material-icons">delete</i></button>
              </div>
            </div>
          </div>
          <button title="Add List Item" class="g-add" (click)="self.methods.addListItem(list)"><i class="material-icons">add</i></button>
        </div>
        <div class="button-wrap">
          <button title="Add List" class="button button-orange" (click)="self.methods.addList()"><i class="material-icons">add</i> List</button>
        </div>
      </div><!--/group-->
    </div>

    <div class="flex-col-6">
      <h2 class="group-header">Custom Stats</h2>
      <p class="help-text" [class.bt-hide]="!self.model.prefs.help">Custom stats can be used to keep track of non-calculated bonuses or miscellaneous stats.</p>
      <div class="bmr-60" cdkDropList [cdkDropListData]="self.model.custom_stats" (cdkDropListDropped)="self.methods.onSortableDrop($event)">
        <div class="flex-row-all flex-gutters-5 flex-config-align-center bm-5 js-custom-stat" *ngFor="let stat of self.methods.listCustomStats()" cdkDrag [cdkDragData]="stat">
          <div class="flex-col flex-static">
            <span class="drag-handle g-neutral" cdkDragHandle><i class="material-icons">menu</i></span>
          </div>
          <div class="flex-col-6">
            <input type="text" placeholder="Name" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="stat.name">
          </div>
          <div class="flex-col-6">
            <input type="number" placeholder="Value" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="stat.value">
          </div>
          <div class="flex-col flex-static">
            <button title="Remove Stat" class="g-remove" (click)="self.methods.removeByObject(self.model.custom_stats, stat)"><i class="material-icons">delete</i></button>
          </div>
        </div>
        <button title="Add Stat" class="g-add" (click)="self.methods.addCustomStat()"><i class="material-icons">add</i></button>
      </div><!--/group-->

      <h2 class="group-header">Feats</h2>
      <p class="help-text" [class.bt-hide]="!self.model.prefs.help">This is a list of your feats. Keep in mind that feats ARE NOT calculated nor do they influence any other part of the sheet. If the feat allows your to make changes to your stats, you must make them yourself.</p>
      <div class="group" cdkDropList [cdkDropListData]="self.model.feats" (cdkDropListDropped)="self.methods.onSortableDrop($event)">
        <div class="js-feat bmr-40" *ngFor="let feat of self.methods.listFeats()" cdkDrag [cdkDragData]="feat">
          <div class="flex-row-all flex-config-bottom flex-gutters-5">
            <div class="flex-col flex-static">
              <span class="drag-handle g-neutral" cdkDragHandle><i class="material-icons">menu</i></span>
            </div>
            <div class="flex-col-6 form-group name-col">
              <label class="block-label">Name</label>
              <input type="text" placeholder="Name" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="feat.name">
            </div>
            <div class="flex-col-6 form-group">
              <div class="prereq-col">
                <label class="block-label">Prerequisites</label>
                <input type="text" placeholder="Prerequisites" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="feat.prereq">
              </div>
            </div>
            <div class="flex-col flex-static">
              <button title="Remove Feat" class="g-remove" (click)="self.methods.removeByObject(self.model.feats, feat)"><i class="material-icons">delete</i></button>
            </div>
          </div>
          <div>
            <label class="block-label">Summary</label>
            <input type="text" placeholder="Summary" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="feat.summary">
          </div>
          <div>
            <label class="block-label">Description</label>
            <textarea placeholder="Description" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="feat.text"></textarea>
          </div>
        </div>
        <button title="Add Stat" class="g-add" (click)="self.methods.addFeat()"><i class="material-icons">add</i></button>
      </div>
    </div>
  </div>
</div>
