<div class="sheet-tab">
  <bt-tab-upgrade [self]="self" *ngIf="!self.locals.full_access"></bt-tab-upgrade>
  <div class="group-companions" *ngIf="self.locals.full_access || !self.locals.permission.writer">
    <div *ngIf="self.model.companions.length < 1">
      <h2 class="group-header">Companions</h2>
      <p class="help-text" *ngIf="self.model.prefs.help">Welcome to the new Companions tab! Here you can add details for an animal companion or a familiar.</p>
    </div>
    <div class="companion" *ngFor="let companion of self.methods.listCompanions() ">
      <div class="flex-row-all flex-config-spaced">
        <h2 class="group-header">{{ companion.name }}</h2>
        <bt-hold-delete title="Remove Companion" (holdComplete)="self.methods.removeByObject(self.model.companions, companion)"></bt-hold-delete>
      </div>
      <div class="flex-row-tablet flex-gutters-15">
        <div class="flex-col-6">
          <h3 class="gh4">Basic</h3>
          <div class="flex-row-all flex-gutters-5 bm-10">
            <div class="flex-col-6">
              <label class="control-label">Name</label>
              <input type="text" class="form-control" placeholder="Companion Name" (ngModelChange)="self.touch()" [(ngModel)]="companion.name">
            </div>
            <div class="flex-col-6">
              <label class="control-label">Type</label>
              <div class="select-wrap">
                <i class="material-icons">arrow_drop_down</i>
                <label>{{ companion.type }}</label>
                <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.type">
                  <option [value]="option" *ngFor="let option of self.locals.selection.companion_types">{{ option }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="flex-row-all flex-gutters-5 bmr-40">
            <div class="flex-col-6">
              <label class="control-label">Hit Dice</label>
              <div class="select-wrap">
                <i class="material-icons">arrow_drop_down</i>
                <label>{{ companion.level }}</label>
                <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.level">
                  <option [ngValue]="level" *ngFor="let level of self.locals.selection.level">{{ level }}</option>
                </select>
              </div>
            </div>
            <div class="flex-col-6">
              <label class="control-label">Size</label>
              <div class="select-wrap">
                <i class="material-icons">arrow_drop_down</i>
                <label>{{ companion.basic.size }}</label>
                <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.basic.size">
                  <option [value]="option" *ngFor="let option of self.locals.selection.size">{{ option }}</option>
                </select>
              </div>
            </div>
          </div>

          <h3 class="gh4">Abilities</h3>
          <div class="group group-abilities bmr-40">
            <div class="flex-row-all flex-gutters-5 bm-5">
              <div class="flex-col-2 name-col">
                <label class="control-label">Name</label>
              </div>
              <div class="flex-col-3 value-col">
                <label class="control-label">Value</label>
              </div>
              <div class="flex-col-3 misc-col">
                <label class="control-label">Misc</label>
              </div>
              <div class="flex-col-2 total-col">
                <label class="control-label">Total</label>
              </div>
              <div class="flex-col-2 mod-col">
                <div class="form-group">
                  <label class="control-label">Mod</label>
                </div>
              </div>
            </div><!--/label row-->
            <div class="bm-5" *ngFor="let ability of self.locals.selection.abilities">
              <div class="flex-row-all flex-gutters-5 bm-5">
                <div class="flex-col-2 name-col">
                  <label class="control-label">{{ ability }}</label>
                </div>
                <div class="flex-col-3 value-col">
                  <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.abilities[ability].value">
                </div>
                <div class="flex-col-3 misc-col">
                  <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.abilities[ability].misc">
                </div>
                <div class="flex-col-2 total-col">
                  <label class="control-label">{{ self.methods.getAbilityTotal(companion.abilities[ability], false) }}</label>
                </div>
                <div class="flex-col-2 mod-col">
                  <label class="control-label">{{ self.methods.getAbilityMod(companion.abilities[ability], false) }}</label>
                </div>
              </div>
            </div>
          </div>

          <h3 class="gh4">Saves</h3>
          <div class="group group-saves">
            <div class="flex-row-all flex-gutters-5 bm-5">
              <div class="name-col flex-col-2">
                <label class="control-label">Name</label>
              </div>
              <div class="base-col flex-col-3">
                <label class="control-label">Base</label>
              </div>
              <div class="mod-col flex-col-2">
                <label class="control-label">Mod</label>
              </div>
              <div class="misc-col flex-col-3">
                <label class="control-label">Misc</label>
              </div>
              <div class="total-col flex-col-2">
                <label class="control-label">Total</label>
              </div>
            </div>
            <div class="stat-row" *ngFor="let stat of self.methods.listCompanionSaves(companion)">
              <div class="flex-row-all flex-gutters-5 bm-5">
                <div class="name-col flex-col-2">
                  <label class="control-label">{{ stat.name }}</label>
                </div>
                <div class="base-col flex-col-3">
                  <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="stat.base">
                </div>
                <div class="base-col flex-col-2">
                  <label class="control-label">{{ self.methods.getAbilityMod(companion.abilities[stat.ability], false) }}</label>
                </div>
                <div class="misc-col flex-col-3">
                  <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="stat.misc">
                </div>
                <div class="total-col flex-col-2">
                  <label class="control-label">{{ self.methods.getSaveTotal(stat, companion, false) }}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="group group-combat">
            <h3 class="gh4">HP</h3>
            <div class="flex-row-all flex-config-wrap flex-gutters-5 bmr-40">
              <div class="flex-col-6 bm-5">
                <label class="block-label">HP</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.hp.value">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Temporary HP</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.hp.temporary">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Wounds</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.hp.damage">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Current HP</label>
                <label class="control-label">{{ self.methods.getHPRemaining(companion) }}</label>
              </div>
            </div>

            <h3 class="gh4">Maneuvers</h3>
            <div class="flex-row-all flex-config-wrap flex-gutters-5 bmr-40">
              <div class="flex-col-12">
                <label class="block-label">BAB</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.bab.value">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Misc CMB</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.cmb.misc">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">CMB Total: <span>{{ self.methods.getTotalCMB(companion.combat.cmb, companion, false) }}</span></label>
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Misc CMD</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.cmd.misc">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">CMD Total: <span>{{ self.methods.getTotalCMD(companion.combat.cmd, companion, false) }}</span></label>
              </div>
            </div>

            <h3 class="gh4">Misc.</h3>
            <div class="flex-row-all flex-config-wrap flex-gutters-5 bmr-40">
              <div class="flex-col-6 bm-5">
                <label class="block-label">DR</label>
                <input type="text" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.dr.text">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Misc Initiative</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.init.misc">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Total Initiative</label>
                <label class="control-label">{{ self.methods.getTotalInit(companion, false) }}</label>
              </div>
            </div>

            <h3 class="gh4">AC</h3>
            <div class="flex-row-all flex-config-wrap flex-gutters-5 bmr-40">
              <div class="flex-col-6 bm-5">
                <label class="block-label">Natural AC</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.ac.natural.value">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Deflection AC</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.ac.deflection">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Dodge AC</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.ac.dodge.value">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Misc AC</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.ac.misc">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Dex Bonus</label>
                <label class="control-label">{{ companion.combat.ac.dex.value }}</label>
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">AC Total: <span>{{ self.methods.getTotalAC(companion, false) }}</span></label>
              </div>
            </div>

            <h3 class="h4">Speed</h3>
            <div class="flex-row-all flex-config-wrap flex-gutters-5 bmr-40">
              <div class="flex-col-6 bm-5">
                <label class="block-label">Speed</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.speed.base">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Fly Speed</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.speed.fly">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Swim Speed</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.speed.swim">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Climb Speed</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.speed.climb">
              </div>
              <div class="flex-col-6 bm-5">
                <label class="block-label">Burrow Speed</label>
                <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="companion.combat.speed.burrow">
              </div>
            </div>
          </div>
        </div>
        <div class="flex-col-6">
          <h3 class="gh4">Attacks</h3>
          <div class="bmr-60">
            <div class="bmr-40" *ngFor="let attack of self.methods.listCompanionAttacks(companion) ">
              <div class="flex-row-all flex-config-bottom flex-gutters-5">
                <div class="flex-col flex-dynamic">
                  <label class="control-label">Name</label>
                  <input type="text" placeholder="Name" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="attack.name">
                </div>
                <div class="flex-col flex-static">
                  <button class="g-remove" (click)="self.methods.removeByObject(companion.attacks, attack)"><i class="material-icons">delete</i></button>
                </div>
              </div>
              <div class="flex-row-all flex-gutters-5">
                <div class="flex-col-3">
                  <label class="control-label">Attack Bonus</label>
                  <input type="number" placeholder="Attack Bonus" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="attack.attack_bonus">
                </div>
                <div class="flex-col-3">
                  <label class="control-label">Damage Bonus</label>
                  <input type="number" placeholder="Damage Bonus" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="attack.damage_bonus">
                </div>
                <div class="flex-col-3">
                  <label class="control-label">Damage Die</label>
                  <input type="text" placeholder="Damage Die" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="attack.damage_die">
                </div>
                <div class="flex-col-3">
                  <label class="control-label">Ability</label>
                  <div class="select-wrap">
                    <i class="material-icons">arrow_drop_down</i>
                    <label>{{ attack.ability }}</label>
                    <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="attack.ability">
                      <option [value]="option" *ngFor="let option of self.locals.selection.abilities">{{ option }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div>
                <label class="control-label">Special</label>
                <input type="text" placeholder="Special" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="attack.special">
              </div>
            </div>
            <button class="g-add" (click)="self.methods.addCompanionAttack(companion)"><i class="material-icons">add</i></button>
          </div>

          <h3 class="gh4">Feats</h3>
          <div class="bmr-60">
            <div class="bmr-40" *ngFor="let feat of self.methods.listCompanionFeats(companion) ">
              <div class="flex-row-all flex-gutters-5 flex-config-bottom">
                <div class="flex-col-6">
                  <label class="block-label">Name</label>
                  <input type="text" placeholder="Name" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="feat.name">
                </div>
                <div class="flex-col-6">
                  <div class="prereq-col">
                    <label class="block-label">Prerequisites</label>
                    <input type="text" placeholder="Prerequisites" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="feat.prereq">
                  </div>
                </div>
                <div class="flex-col flex-static">
                  <button class="g-remove" (click)="self.methods.removeByObject(companion.feats, feat)"><i class="material-icons">delete</i></button>
                </div>
              </div>
              <div>
                <label class="block-label">Summary</label>
                <input type="text" placeholder="Summary" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="feat.summary">
              </div>
            </div>
            <button class="g-add" (click)="self.methods.addCompanionFeat(companion)"><i class="material-icons">add</i></button>
          </div>

          <h3 class="gh4">Skills</h3>
          <div class="bmr-60">
            <div class="bm-10" *ngFor="let skill of self.methods.listCompanionSkills(companion) ">
              <div class="flex-row-all flex-config-bottom flex-gutters-5">
                <div class="flex-col flex-static">
                  <input type="checkbox" title="{{ skill.name }} Class Skill" (ngModelChange)="self.touch()" [(ngModel)]="skill.class_skill">
                </div>
                <div class="flex-col-6">
                  <label class="control-label">Name</label>
                  <div class="select-wrap">
                    <i class="material-icons">arrow_drop_down</i>
                    <label>{{ skill.name }}</label>
                    <select class="form-control" (ngModelChange)="self.methods.setSkillAbility(skill)" [(ngModel)]="skill.name">
                      <option [value]="stat.name" *ngFor="let stat of self.methods.listSkills()">{{ stat.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="flex-col-2">
                  <label class="control-label">Ranks</label>
                  <input type="number" placeholder="Ranks" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="skill.ranks">
                </div>
                <div class="flex-col flex-dynamic">
                  <label class="control-label">{{ skill.ability }}</label>
                  <label class="block-label">{{ self.methods.getAbilityMod(companion.abilities[skill.ability], false) }}</label>
                </div>
                <div class="flex-col flex-dynamic">
                  <label class="control-label">Total</label>
                  <label class="block-label">{{ self.methods.getSkillTotal(skill, companion) }}</label>
                </div>
                <div class="flex-col flex-static">
                  <button class="g-remove" (click)="self.methods.removeByObject(companion.skills, skill)"><i class="material-icons">delete</i></button>
                </div>
              </div>
            </div>
            <button class="g-add" (click)="self.methods.addCompanionSkill(companion)"><i class="material-icons">add</i></button>
          </div>

          <h3 class="gh4">Special Abilities</h3>
          <div class="bmr-60">
            <div class="bm-10" *ngFor="let special of self.methods.listCompanionSpecials(companion) ">
              <div class="flex-row-all flex-config-bottom flex-gutters-5">
                <div class="flex-col-4">
                  <input type="text" placeholder="Name" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="special.name">
                </div>
                <div class="flex-col-8">
                  <input type="text" placeholder="Text" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="special.text">
                </div>
                <div class="flex-col flex-static">
                  <button class="g-remove" (click)="self.methods.removeByObject(companion.specials, special)"><i class="material-icons">delete</i></button>
                </div>
              </div>
            </div>
            <button class="g-add" (click)="self.methods.addCompanionSpecial(companion)"><i class="material-icons">add</i></button>
          </div>
        </div>
      </div>
    </div>
    <button class="button button-orange" (click)="self.methods.addCompanion()"><i class="material-icons">add</i> Companion</button>
  </div>
</div>
