.corner-button {
  position: absolute;
  top: 4px;
  right: 8px;
}

.damage-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(white, .9);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
