@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.blog-message {
  @include font-size(24);
  color: #999;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  padding: 30px 15px;
}

.posts {
  .post {
    padding: 20px 15px;
    @include above-mobile {
      padding: 60px 15px;
    }
    &:nth-child(even) {
      background: #f6f8f9;
    }
    .inner {
      max-width: 600px;
      margin: auto;
    }
  }

  h2 {
    font-family: $title;
    @include font-size(28);
    @include above-mobile {
      @include font-size(32, 1);
    }
    a {
      color: #333;
      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  .date {
    color: #999;
    text-transform: uppercase;
    @include font-size(14, 1);
    margin: 0 0 20px;
  }
}
