<div class="social-footer">
  <a href="https://discord.gg/99xNTE7" class="social-discord" target="_blank"><fa-icon [icon]="['fab', 'discord']"></fa-icon></a>
  <a href="https://twitter.com/beyondtabletop" class="social-twitter" target="_blank"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
  <a href="https://www.facebook.com/beyondtabletop" class="social-facebook" target="_blank"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></a>
  <a href="https://www.reddit.com/r/beyondtabletop" class="social-reddit" target="_blank"><fa-icon [icon]="['fab', 'reddit-alien']"></fa-icon></a>
</div>
