<div class="step">
  <div class="max-500 auto-margin">
    <h1 class="gh1">Determine Ability Scores</h1>
    <h2 class="gsh3">Much of what your character does in the game depends on his or her six abilities: Strength, Dexterity, Constitution, Intelligence, Wisdom, and Charisma. Each ability has a score, which is recorded on your sheet.</h2>
    <h2 class="gsh4 gmuted">There are three ways to determine your ability score. You can roll random scores, which offer the most variety (highest highs, lowest lows); you can take set values (15, 14, 13, 12, 10, 8) for an average build; finally, you can choose to spend 27 points on your ability scores, allowing for the greatest customization.</h2>
    <h2 class="gsh4 gmuted">As you assign scores, the numbers that will appear in gray represent the ability bonuses you get from your race. They aren't factored into any calculations here, but you should be aware of what you already have bonuses on.</h2>

    <div class="flex-row-all flex-gutters-5 bm-20">
      <div class="flex-col-4">
        <button class="button button-small style-uppercase button-block" [ngClass]="self.locals.data.builder.create_abilities.type === 'roll' ? 'button-orange' : 'button-gray'" (click)="self.locals.data.builder.create_abilities.type = 'roll'">Roll</button>
      </div>
      <div class="flex-col-4">
        <button class="button button-small style-uppercase button-block" [ngClass]="self.locals.data.builder.create_abilities.type === 'defaults' ? 'button-orange' : 'button-gray'" (click)="self.locals.data.builder.create_abilities.type = 'defaults'">Defaults</button>
      </div>
      <div class="flex-col-4">
        <button class="button button-small style-uppercase button-block" [ngClass]="self.locals.data.builder.create_abilities.type === 'points' ? 'button-orange' : 'button-gray'" (click)="self.locals.data.builder.create_abilities.type = 'points'">Points</button>
      </div>
    </div>

    <p class="warning-text" *ngIf="self.locals.data.builder.create_abilities.invalid"><fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon> Ability scores are not valid and were not saved. Check that you have assigned all your scores and that you haven't assigned two scores to the same ability.</p>

    <div class="bm-20" *ngIf="self.locals.data.builder.create_abilities.type === 'roll'">
      <p class="help-text">First, click the button on the right to roll your score. Then assign the score to one of the 6 abilities. Keep in mind as a <span>{{ self.model.klasses[0].name }}</span>, your most important abilities (in order) are <span>{{ self.methods.getFirstKlassData().key_abilities }}</span>.</p>
      <p class="help-text" *ngIf="self.methods.getUnassignedAbilities(self.locals.data.builder.create_abilities.type) !== ''">Unassigned abilities: <span>{{ self.methods.getUnassignedAbilities(self.locals.data.builder.create_abilities.type) }}</span></p>
      <div class="flex-row-all flex-config-spaced flex-config-align-center bm-10" *ngFor="let score of self.locals.data.builder.create_abilities.scores.roll">
        <h4 class="gh3 no-space">
          <span>{{ score.num }}</span>
          <span class="light-gray" *ngIf="self.methods.hasRacialBonusFor(score.name)"> + <span>{{ self.methods.getRacialBonusFor(score.name) }}</span></span>
        </h4>
        <button class="dice-button" *ngIf="score.num === 0" (click)="score.num = self.methods.rollAbilityScore()"><i class="dice-icon dice-icon-d6"></i> Roll Ability Score</button>
        <div class="select-wrap min-100" *ngIf="score.num !== 0">
          <i class="material-icons">arrow_drop_down</i>
          <label>{{ score.name }}</label>
          <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="score.name">
            <option [value]="abl" *ngFor="let abl of self.locals.selection.abilities">{{ abl }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="bm-20" *ngIf="self.locals.data.builder.create_abilities.type === 'defaults'">
      <p class="help-text">Assign each score to one of the 6 abilities. Keep in mind as a <span>{{ self.model.klasses[0].name }}</span>, your most important abilities (in order) are <span>{{ self.methods.getFirstKlassData().key_abilities }}</span>.</p>
      <div class="flex-row-all flex-config-spaced flex-config-align-center bm-10" *ngFor="let score of self.locals.data.builder.create_abilities.scores.defaults">
        <h4 class="gh3 no-space">
          <span>{{ score.num }}</span>
          <span class="light-gray" *ngIf="self.methods.hasRacialBonusFor(score.name)"> + <span>{{ self.methods.getRacialBonusFor(score.name) }}</span></span>
        </h4>
        <div class="select-wrap min-100">
          <i class="material-icons">arrow_drop_down</i>
          <label>{{ score.name }}</label>
          <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="score.name">
            <option [value]="abl" *ngFor="let abl of self.locals.selection.abilities">{{ abl }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="bm-20" *ngIf="self.locals.data.builder.create_abilities.type === 'points'">
      <p class="help-text">Each ability score costs a certain amount of points. You have a total of 27 points to spend on your character. Watch the total points below to see how many points you have left. Keep in mind as a <span>{{ self.model.klasses[0].name }}</span>, your most important abilities (in order) are <span>{{ self.methods.getFirstKlassData().key_abilities }}</span>.</p>
      <h3 class="gh3">Points Remaining: <span>{{ self.methods.getRemainingAbilityPoints(self.locals.data.builder.create_abilities.scores.points) }}</span></h3>
      <div class="flex-row-all flex-gutters-5 flex-config-align-center bm-10" *ngFor="let score of self.locals.data.builder.create_abilities.scores.points">
        <div class="flex-col">
          <label class="gl1 min-100">{{ score.name }}</label>
        </div>
        <div class="flex-col" [ngClass]="score.num >= 8 && score.num <= 15 ? 'valid-field' : 'invalid-field'">
          <input type="number" class="form-control max-60" (ngModelChange)="self.touch()" [(ngModel)]="score.num" min="8" max="15">
        </div>
        <div class="flex-col" *ngIf="self.methods.hasRacialBonusFor(score.name)">
          <h4 class="gh3 no-space light-gray">
            + <span>{{ self.methods.getRacialBonusFor(score.name) }}</span>
          </h4>
        </div>
      </div>
    </div>

    <div class="flex-row-all flex-gutters-10">
      <div class="flex-col-6">
        <button (click)="self.methods.switchStep('create-character')" class="button button-gray button-block">Back</button>
      </div>
      <div class="flex-col-6">
        <button class="button button-cyan button-block" (click)="self.methods.saveBuilderAbilityScores(self.locals.data.builder.create_abilities.type)">Save Scores</button>
      </div>
    </div>
  </div>
</div>
