<div class="overview-vitals-block">
  <div class="flex-row-mobile flex-config-align-center flex-gutters-5 bm-10">
    <div class="flex-col-6 nav-clickable" (click)="self.methods.switchTab('combat')">
      <div class="flex-row-all flex-gutters-5">
        <div class="flex-col-6">HP:</div>
        <div class="flex-col-6">
          <strong>{{ self.methods.getHPRemaining() }}</strong>/<strong>{{ self.methods.getHPTotal() }}</strong>
        </div>
      </div>
      <div class="flex-row-all flex-gutters-5">
        <div class="flex-col-6">AC:</div>
        <div class="flex-col-6">
          <strong>{{ self.methods.getTotalAC() }}</strong>
        </div>
      </div>
    </div>
    <div class="flex-col-6">
      <div class="bm-5">Wounds</div>
      <input type="number" class="form-control hide-for-read-only" (ngModelChange)="self.touch()" [(ngModel)]="self.model.combat.hp.damage">
      <strong class="show-for-read-only">{{ self.model.combat.hp.damage }}</strong>
    </div>
  </div>

  <div class="flex-row-all flex-config-centered flex-gutters-5 bm-10">
    <div class="flex-col">
      <button class="inc-button g-neutral h36" (click)="self.methods.incrementDamage(1)">
        <i class="material-icons">remove</i>
      </button>
    </div>
    <div class="flex-col">
      <div class="hp-ring">
        <div class="intrinsic">
          <div class="hp-ring-box flex-row-all flex-config-centered">
            <div class="text-center tp-5">
              <div class="hp-current">{{ self.methods.getHPRemaining() }}</div>
              <div class="hp-total">{{ self.methods.getHPTotal() }}</div>
            </div>
            <div class="hp-ring-circle">
              <svg viewBox="-15 -15 230 230">
                <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z"></path>
                <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" [attr.stroke-dashoffset]="self.methods.getHPRingValue()" [attr.stroke]="self.methods.HPRingColor()"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-col">
      <button class="inc-button g-neutral h36" (click)="self.methods.incrementDamage(-1)">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>

  <div class="flex-row-all flex-gutters-5 flex-config-centered h24 bm-10" *ngIf="self.methods.unconscious()">
    <div class="flex-col" [class.base-color]="!save.value" [class.red-color]="save.value" *ngFor="let save of self.model.combat.hp.death_saves">
      <i class="material-icons">{{ save.value ? 'radio_button_checked' : 'radio_button_unchecked'}}</i>
    </div>
    <div class="flex-col">
      <button class="death-save" (click)="self.methods.rollDeathSave()">
        <fa-icon [icon]="['fas', 'skull']"></fa-icon>
      </button>
    </div>
    <div class="flex-col" [class.base-color]="!save.value" [class.green-color]="save.value" *ngFor="let save of self.model.combat.hp.life_saves">
      <i class="material-icons">{{ save.value ? 'radio_button_checked' : 'radio_button_unchecked'}}</i>
    </div>
  </div>
  <div class="flex-row-all flex-config-centered">
    <div class="flex-col flex-static">
      <button class="button button-block button-ghost button-small hp-20" (click)="self.methods.resetDeathSaves()">Reset</button>
    </div>
  </div>
</div>
