<div class="step">
  <div class="max-500 auto-margin">
    <h1 class="gh1">Character Complete</h1>

    <h2 class="gsh3">Congratulations! This is the end of character builder!</h2>

    <h2 class="gsh3">From now on you’ll be in the full BTT character sheet. In this view, you’ll be able to see all your stats, level up your character, and record all your new gear. The overview tab condenses all your most important stats on one page - you’ll spend most of your play time there. Character sheets are very customizable, and will give you the tools you need to grow your character as you become more comfortable with the game.</h2>

    <h2 class="gsh3">If you have any questions, <a href="https://www.reddit.com/r/beyondtabletop" target="_blank">feel free to ask them on our forums.</a></h2>

    <h2 class="gsh3">Best of luck!</h2>

    <div class="flex-row-all flex-config-justify-center">
      <div class="flex-col-6">
        <button (click)="self.methods.switchTab('general'); self.methods.switchStep('intro');" class="button button-cyan button-block">Go to my character</button>
      </div>
    </div>
  </div>
</div>
