<div class="container display-sheet sheet-rpg use-tabs help-on">

  <header class="left-tabs" [class.showing-nav]="self.locals.tabs.showing_nav">
    <div class="visible-bar flex-row-all flex-config-align-center flex-gutters-5" (click)="self.methods.toggleNav()">
      <div class="flex-col">
        <button class="toggle-nav">
          <i class="material-icons">menu</i>
        </button>
      </div>
      <div class="flex-col">
        <h2 class="rh24 weight-semibold">{{ self.methods.getActiveNavItem() }}</h2>
      </div>
    </div>
    <div class="logo-wrap">
      <a class="logo" routerLink="/dashboard">
        <span class="dashboard">Back to Dashboard</span>
      </a>
    </div>
    <div class="tabs-nav">
      <button class="tab-nav-item" (click)="self.methods.switchTab(tab.id)" [class.active]="self.methods.isTabActive(tab.id)" *ngFor="let tab of self.methods.listAllTabs()">{{ tab.name }}</button>
      <button class="tab-nav-item" (click)="self.methods.switchTab('settings')" [class.active]="self.methods.isTabActive('settings')">Settings</button>
      <a routerLink="/dashboard" class="tab-nav-item tab-dashboard-item"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon> Dashboard</a>
    </div>
  </header>
  <div class="content">
    <bt-loading [self]="self"></bt-loading>

    <div class="tabs-wrapper">

<!--
****************************************************************************************
OVERVIEW TAB
****************************************************************************************
-->

      <div class="tab overview-tab" [class.active]="self.methods.isTabActive('overview')">
        <div class="overview-display-tab" *ngFor="let tab of self.methods.listIncludedTabs()">
          <bt-rpg-overview-tab [self]="self" [tab]="tab"></bt-rpg-overview-tab>
        </div>
      </div>

<!--
****************************************************************************************
STRUCTURE TAB
****************************************************************************************
-->

      <div class="tab" [class.active]="self.methods.isTabActive('structure')">
        <div class="nav-slider">
          <div class="slide" [class.past]="self.methods.anyActiveTab()">
            <h2 class="gh2">Tabs</h2>
            <p class="help-text">Tabs separate data into different pages. Tabs are containers where sections live. When you add a new tab, you will see it show up in the navigation for this sheet.</p>
            <div class="bm-20" cdkDropList [cdkDropListData]="self.model.tabs" (cdkDropListDropped)="self.methods.onSortableDrop($event)">
              <div class="js-structure-tab structure-tab flex-row-all flex-gutters-5 flex-config-align-center bm-10" *ngFor="let tab of self.methods.listTabs()" cdkDrag [cdkDragData]="tab" (click)="self.methods.setStructureTab(tab)" [ngClass]="self.methods.getStructureTabClass(tab)">
                <div class="flex-col flex-static">
                  <span class="drag-handle g-neutral" cdkDragHandle><i class="material-icons">menu</i></span>
                </div>
                <div class="flex-col flex-dynamic">
                  <div class="tab-icon">
                    <i class="material-icons backdrop">folder</i>
                    <span>{{ tab.name }}</span>
                    <button class="g-remove" (click)="self.methods.removeTab(tab, $event)"><i class="material-icons">delete</i></button>
                  </div>
                </div>

              </div>
            </div>
            <button class="g-add" (click)="self.methods.addTab()"><i class="material-icons">add</i></button>
          </div>

          <div class="slide" [class.present]="self.methods.anyActiveTab()">
            <div *ngFor="let tab of self.methods.structureTabInArray()">
              <div class="tm-20">
                <h2 class="gh2"><span>{{ tab.name }}</span> Sections Layout</h2>
                <div class="bm-20">
                  <p *ngIf="tab.name === 'Battlemap'" class="help-text">This is a special system-use tab that cannot be renamed. The data here is used to display on the Battlemap for tokens connected to this sheet.</p>
                  <input *ngIf="tab.name !== 'Battlemap'" type="text" placeholder="Tab name" (ngModelChange)="self.touch()" [(ngModel)]="tab.name" class="form-control">
                </div>
                <div class="bm-20 flex-row-all flex-config-wrap flex-gutters-5" cdkDropList [cdkDropListData]="tab.sections" (cdkDropListDropped)="self.methods.onSortableDrop($event)">
                  <div class="js-structure-section bm-10" *ngFor="let section of self.methods.listTabSections(tab)" cdkDrag [cdkDragData]="section" [ngClass]="self.methods.getTabSectionClass(section)" (click)="self.methods.setStructureSection(section)">
                    <div class="structure-section flex-row-all flex-config-align-center flex-config-justify-center">
                      <div>
                        <div class="select-wrap min-75 white-bg bm-10">
                          <i class="material-icons">arrow_drop_down</i>
                          <label>{{ self.methods.selectionReverseLookup(self.locals.selection.section_sizes, section.size) }}</label>
                          <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="section.size">
                            <option [ngValue]="option.value" *ngFor="let option of self.locals.selection.section_sizes">{{ option.label }}</option>
                          </select>
                        </div>
                        <label class="checkbox-inline">
                          <input type="checkbox" title="Overview" (ngModelChange)="self.touch()" [(ngModel)]="section.overview">
                          Overview
                        </label>
                      </div>
                      <div class="flex-col flex-static" *ngIf="tab.sections.length > 1">
                        <button class="g-remove" (click)="self.methods.removeTabSection(tab, section, $event)"><i class="material-icons">delete</i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="g-add" (click)="self.methods.addTabSection(tab)"><i class="material-icons">add</i></button>
              </div>

              <div class="flex-row-tablet flex-gutters-15" *ngFor="let section of self.methods.getStructureSection()" cdkDropListGroup>
                <div class="flex-col-6">
                  <h2 class="gh2">Fields for section <span>{{ section.pos + 1 }}</span> of <span>{{ tab.name }}</span></h2>
                  <div class="structure-section-fields"
                    cdkDropList
                    [cdkDropListData]="section"
                    (cdkDropListDropped)="self.methods.onMoveList($event)"
                  >
                    <p *ngIf="!self.methods.anyEntitiesBySection(section)" class="p3">There are no fields assigned to this section. Drag fields into here!</p>
                    <div class="structure-field js-structure-field flex-row-all flex-gutters-5 flex-config-align-center"
                      *ngFor="let entity of self.methods.listEntitiesBySection(section)"
                      cdkDrag
                      [cdkDragData]="entity"
                    >
                      <div class="flex-col flex-dynamic">
                        <span class="name">{{ entity.name }}</span>
                      </div>
                      <div class="flex-col flex-dynamic text-right">
                        <span class="info">{{ self.methods.getEntityInfo(entity) }}</span>
                      </div>
                      <div class="flex-col flex-static">
                        <button class="g-remove" (click)="self.methods.removeEntityFromSection(entity, section)"><i class="material-icons">delete</i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-col-6">
                  <h2 class="gh2">Available Fields</h2>

                  <label class="checkbox-inline bm-15">
                    <input type="checkbox" title="Show only unassigned" (ngModelChange)="self.touch()" [(ngModel)]="self.locals.only_unassigned">
                    Show only unassigned
                  </label>

                  <div class="structure-section-fields"
                    cdkDropList
                    (cdkDropListDropped)="self.methods.onMoveList($event)"
                  >
                    <p *ngIf="!self.methods.anyAvailableEntities()" class="p3">There are no available fields. <ng-container *ngIf="self.locals.only_unassigned">Uncheck the above checkbox to see all available fields. </ng-container>Create more on the Content tab or reassign from a different section.</p>
                    <div class="structure-field js-structure-field flex-row-all flex-gutters-5 flex-config-align-center"
                      *ngFor="let entity of self.methods.listAvailableEntities()"
                      cdkDrag
                      [cdkDragData]="entity"
                    >
                      <div class="flex-col flex-dynamic">
                        <span class="name">{{ entity.name }}</span>
                      </div>
                      <div class="flex-col flex-dynamic text-right">
                        <span class="info">{{ self.methods.getEntityInfo(entity) }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

<!--
****************************************************************************************
CONTENT TAB
****************************************************************************************
-->

      <div class="tab" [class.active]="self.methods.isTabActive('content')">
        <div class="tab-notice" *ngIf="self.model.prefs.show_announcement">
          <h2 class="gh3"><fa-icon [icon]="['fas', 'bullhorn']"></fa-icon> This tool is still in development</h2>
          <p>Welcome to the RPG Sheets alpha. This tool is designed to be flexible enough to be used for any system. <a routerLink="/help/overview-rpg">Check out this guide on how to get started.</a> Please leave feedback and suggestions <a href="https://www.reddit.com/r/beyondtabletop" target="_blank">in the Beyond Tabletop subreddit</a> and let us know if you find any bugs.</p>
          <div class="flex-row-mobile flex-config-spaced flex-config-bottom">
            <a routerLink="/help/overview-rpg" class="button button-orange">View Help Guide</a>
            <div class="help-text tm-20 clickable" (click)="self.model.prefs.show_announcement = false">Hide this</div>
          </div>
        </div>

        <div class="bordered-section">
          <div class="flex-row-tablet flex-gutters-15">
            <div class="flex-col-6">
              <h2 class="gh2">Stats</h2>
              <p class="p3 bm-40">Stats are used for single, static values. Choose the field name and the type of value (for example, "number", "text", or "long text").</p>

              <div class="bm-10 flex-row-all flex-config-align-center flex-gutters-5" *ngFor="let stat of self.methods.listStats()">
                <div class="flex-col flex-dynamic">
                  <input type="text" placeholder="Stat name" (ngModelChange)="self.methods.sanitizeAspectName(stat)" [(ngModel)]="stat.name" class="form-control">
                </div>
                <div class="flex-col flex-dynamic">
                  <div class="select-wrap">
                    <i class="material-icons">arrow_drop_down</i>
                    <label>{{ self.methods.selectionReverseLookup(self.locals.selection.input_types, stat.input_type) }}</label>
                    <select class="form-control" (ngModelChange)="self.methods.onStatInputTypeChange(stat)" [(ngModel)]="stat.input_type">
                      <option [value]="option.value" *ngFor="let option of self.locals.selection.input_types">{{ option.label }}</option>
                    </select>
                  </div>
                </div>

                <div class="flex-col flex-static" *ngIf="self.model.stats.length > 1">
                  <button class="g-remove" (click)="self.methods.removeEntity(self.model.stats, stat)"><i class="material-icons">delete</i></button>
                </div>
              </div>
              <button class="g-add" (click)="self.methods.addStat()"><i class="material-icons">add</i></button>
            </div>

            <div class="flex-col-6">
              <h2 class="gh2">Calculations</h2>
              <p class="p3 bm-40">Calculations have formulas and can pull in your stats to determine a final value.</p>
              <div class="bm-10" *ngFor="let calc of self.methods.listCalculations()">
                <div class="bm-5 flex-row-all flex-config-align-center flex-gutters-5">
                  <div class="flex-col-4 flex-dynamic">
                    <input type="text" placeholder="Name" (ngModelChange)="self.methods.sanitizeAspectName(calc)" [(ngModel)]="calc.name" class="form-control">
                  </div>
                  <div class="flex-col-8 flex-dynamic">
                    <input type="text" placeholder="Formula" (ngModelChange)="self.methods.onCalculationChange(calc)" [(ngModel)]="calc.formula" class="form-control" [class.invalid-formula]="!calc.valid">
                  </div>
                  <div class="flex-col flex-static">
                    <button class="g-remove" (click)="self.methods.removeEntity(self.model.calculations, calc)"><i class="material-icons">delete</i></button>
                  </div>
                </div>
                <div class="g-error" *ngIf="!calc.valid">{{ calc.value }}</div>
              </div>

              <button class="g-add" (click)="self.methods.addCalculation()"><i class="material-icons">add</i></button>
            </div>
          </div>
        </div>

        <div class="bordered-section">
          <div class="flex-row-tablet flex-gutters-15">
            <div class="flex-col-6">
              <div class="bm-40">
                <h2 class="gh2">Collections</h2>
                <p class="p3 bm-40">Collections are for keeping track of lists of one type of data. You can use them for spells, feats, skills, abilities, and much more.</p>

                <div class="flex-row-all flex-gutters-5 flex-config-align-center bm-10" *ngFor="let collection of self.methods.listCollections()">
                  <div class="flex-col flex-dynamic">
                    <input type="text" placeholder="Collection name" (ngModelChange)="self.touch()" [(ngModel)]="collection.name" class="form-control">
                  </div>
                  <div class="flex-col flex-dynamic">
                    <div class="select-wrap">
                      <i class="material-icons">arrow_drop_down</i>
                      <label>{{ self.methods.reverseLookupBy(self.methods.listCollectables(), {id: collection.collectable}, 'name') }}</label>
                      <select class="form-control" (ngModelChange)="self.methods.onCollectionChange(collection)" [(ngModel)]="collection.collectable">
                        <option [value]="option.id" *ngFor="let option of self.methods.listCollectables()">{{ option.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="flex-col flex-static" *ngIf="self.model.collections.length > 1">
                    <button class="g-remove" (click)="self.methods.removeEntity(self.model.collections, collection)"><i class="material-icons">delete</i></button>
                  </div>
                </div>

                <button class="g-add" (click)="self.methods.addCollection()"><i class="material-icons">add</i></button>
              </div>
            </div>

            <div class="flex-col-6">
              <h2 class="gh2">Conditions</h2>
              <p class="p3 bm-40">Conditions can be used to represent different states your character is in. Conditions have effects which can change your stats or collection items. Examples of conditions include things like exhausted, fatigued, blinded, and raging.</p>
              <div class="bm-20" *ngFor="let condition of self.methods.listConditions()">
                <div class="flex-row-all flex-gutters-5 flex-config-align-center bm-20">
                  <div class="flex-col flex-dynamic">
                    <input type="text" placeholder="Condition name" (ngModelChange)="self.touch()" [(ngModel)]="condition.name" class="form-control" [disabled]="condition.active">
                  </div>
                  <div class="flex-col flex-static">
                    <button class="g-remove" (click)="self.methods.removeEntity(self.model.conditions, condition)"><i class="material-icons">delete</i></button>
                  </div>
                </div>

                <div *ngFor="let effect of self.methods.listConditionEffects(condition)">
                  <div class="flex-row-all flex-config-align-center flex-gutters-5 bm-5">
                    <div class="flex-col flex-dynamic">
                      <div class="select-wrap">
                        <i class="material-icons">arrow_drop_down</i>
                        <label>{{ self.methods.reverseLookupBy(self.methods.listEntitiesForConditionEffect(), {id: effect.stat}, 'name') }}</label>
                        <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="effect.stat" [disabled]="condition.active">
                          <option [value]="option.id" *ngFor="let option of self.methods.listEntitiesForConditionEffect()">{{ option.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="flex-col flex-dynamic">
                      <input type="text" placeholder="Formula" (ngModelChange)="self.methods.onCalculationChange(effect)" [(ngModel)]="effect.formula" class="form-control" [disabled]="condition.active">
                    </div>
                    <div class="flex-col flex-static" *ngIf="condition.effects.length > 1 && !condition.active">
                      <button class="g-remove" (click)="self.methods.removeByObject(condition.effects, effect)" [disabled]="condition.active"><i class="material-icons">delete</i></button>
                    </div>
                  </div>
                  <div class="g-error bm-5" *ngIf="!effect.valid">{{ effect.value }}</div>
                </div>

                <button class="g-add" (click)="self.methods.addConditionEffect(condition)" *ngIf="!condition.active"><i class="material-icons">add</i></button>

              </div>

              <button class="g-add" (click)="self.methods.addCondition()"><i class="material-icons">add</i></button>

            </div>
          </div>
        </div>
        <div>
          <h2 class="gh2">Collectables</h2>
          <p class="p3 bm-40">Define the types of objects that can be used in collections.</p>

          <div class="flex-row-tablet flex-gutters-15 flex-config-wrap">
            <div class="flex-col-8 bm-40" *ngFor="let collectable of self.methods.listCollectables()">
              <div class="flex-row-all flex-config-spaced">
                <h3 class="gh3 no-space">{{ collectable.name }}</h3>
                <div class="flex-col flex-static" *ngIf="self.model.collectables.length > 1">
                  <button class="g-remove" (click)="self.methods.removeByObject(self.model.collectables, collectable)"><i class="material-icons">delete</i></button>
                </div>
              </div>
              <div class="flex-row-all flex-gutters-5 flex-config-align-center bm-10">
                <div class="flex-col flex-dynamic">
                  <label class="control-label">Collectable Name</label>
                  <input type="text" placeholder="Collectable name" (ngModelChange)="self.touch()" [(ngModel)]="collectable.name" class="form-control">
                </div>
                <div class="flex-col flex-dynamic">
                  <label class="control-label">Label Type</label>
                  <div class="select-wrap">
                    <i class="material-icons">arrow_drop_down</i>
                    <label>{{ self.methods.selectionReverseLookup(self.locals.selection.label_types, collectable.label_type) }}</label>
                    <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="collectable.label_type">
                      <option [value]="option.value" *ngFor="let option of self.locals.selection.label_types">{{ option.label }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <label class="control-label"><span>{{ collectable.name }}</span> Fields</label>
              <div cdkDropList [cdkDropListData]="self.model.collectable_fields" (cdkDropListDropped)="self.methods.onSortableDrop($event)"><!-- TODO: SORTABLE  [data-collectable-id]="collectable.id" -->
                <div class="js-collectable-field collectable-field flex-row-all flex-gutters-5 flex-config-align-center bm-10" *ngFor="let field of self.methods.listCollectableFields(collectable)" cdkDrag [cdkDragData]="field">
                  <div class="flex-col flex-static">
                    <span class="drag-handle g-neutral" cdkDragHandle><i class="material-icons">menu</i></span>
                  </div>
                  <div class="flex-col flex-dynamic" (click)="self.methods.setActiveCollectableField(field.id, collectable.id)" [ngClass]="self.methods.getCollectableFieldActiveStatus(field.id, collectable.id)">
                    <div class="field-summary">
                      <h3 class="gl3"><span>{{ field.name }}</span></h3>
                    </div>
                    <div class="field-details">
                      <div class="flex-dynamic flex-row-all flex-gutters-5 flex-config-align-center flex-config-wrap">
                        <div class="flex-col-6 bm-5">
                          <label class="control-label">Label</label>
                          <input type="text" placeholder="Field name" (ngModelChange)="self.methods.sanitizeAspectName(field)" [(ngModel)]="field.name" class="form-control" [disabled]="field.field_id === 'name'">
                        </div>
                        <div class="flex-col-6 bm-5">
                          <label class="control-label">Type</label>
                          <div class="select-wrap" [class.disabled]="field.field_id === 'name'">
                            <i class="material-icons">arrow_drop_down</i>
                            <label>{{ self.methods.selectionReverseLookup(self.locals.selection.collectable_input_types, field.input_type) }}</label>
                            <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="field.input_type" [disabled]="field.field_id === 'name'">
                              <option [value]="option.value" *ngFor="let option of self.locals.selection.collectable_input_types">{{ option.label }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="flex-col-6 bm-5">
                          <label class="control-label">Size</label>
                          <div class="select-wrap">
                            <i class="material-icons">arrow_drop_down</i>
                            <label>{{ self.methods.selectionReverseLookup(self.locals.selection.field_widths, field.width) }}</label>
                            <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="field.width">
                              <option [value]="option.value" *ngFor="let option of self.locals.selection.field_widths">{{ option.label }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="flex-col-6 bm-5">
                          <label class="control-label">Space</label>
                          <div class="select-wrap">
                            <i class="material-icons">arrow_drop_down</i>
                            <label>{{ self.methods.selectionReverseLookup(self.locals.selection.field_spacings, field.space) }}</label>
                            <select class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="field.space">
                              <option [value]="option.value" *ngFor="let option of self.locals.selection.field_spacings">{{ option.label }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="flex-col-12 bm-5">
                          <label class="block-label">Overview</label>
                          <label class="checkbox-inline">
                            <input type="checkbox" title="Overview" (ngModelChange)="self.touch()" [(ngModel)]="field.overview">
                            Show on overview?
                          </label>
                        </div>
                        <div class="flex-col-12 bm-5" *ngIf="field.input_type === 'formula'">
                          <label class="control-label">Formula</label>
                          <input type="text" placeholder="Formula" (ngModelChange)="self.methods.validateCollectableFormula(field, collectable)" [(ngModel)]="field.formula" class="form-control" [class.invalid-formula]="!field.valid">
                          <div class="g-error tm-5" *ngIf="!field.valid">{{ field.error }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex-col flex-static min-26">
                    <button *ngIf="field.field_id !== 'name'" class="g-remove" (click)="self.methods.removeByObject(collectable.fields, field)"><i class="material-icons">delete</i></button>
                  </div>
                </div>
              </div>
              <button class="g-add" (click)="self.methods.addCollectableField(collectable)" *ngIf="collectable.fields.length < 20"><i class="material-icons">add</i></button>
            </div>
          </div>

          <button class="g-add" (click)="self.methods.addCollectable()"><i class="material-icons">add</i></button>
        </div>
      </div>

<!--
****************************************************************************************
USER MODEL TAB
****************************************************************************************
-->

      <div class="tab" [class.active]="self.methods.isTabActive(tab.id)" *ngFor="let tab of self.methods.listTabs()">
        <h2 class="group-header">{{ tab.name }}</h2>
        <div class="flex-row-tablet flex-gutters-15 flex-config-wrap">
          <div class="section" *ngFor="let section of self.methods.listTabSections(tab)" [ngClass]="self.methods.getTabSectionClass(section)">
            <div [ngSwitch]="self.methods.getEntityType(entity)" *ngFor="let entity of self.methods.listEntitiesBySection(section)">
              <bt-rpg-entity-calculation  [self]="self" [entity]="entity" *ngSwitchCase="'RpgCalculation'"></bt-rpg-entity-calculation>
              <bt-rpg-entity-collection   [self]="self" [entity]="entity" *ngSwitchCase="'RpgCollection'"></bt-rpg-entity-collection>
              <bt-rpg-entity-condition    [self]="self" [entity]="entity" *ngSwitchCase="'RpgCondition'"></bt-rpg-entity-condition>
              <bt-rpg-entity-stat         [self]="self" [entity]="entity" *ngSwitchCase="'RpgStat'"></bt-rpg-entity-stat>
              <ng-container *ngSwitchDefault>No known input for this type</ng-container>
            </div>
          </div>
        </div>
      </div>

<!--
****************************************************************************************
SETTINGS TAB
****************************************************************************************
-->

      <div class="tab" [class.active]="self.methods.isTabActive('settings')">
        <div class="flex-row-tablet flex-gutters-15">
          <div class="flex-col-6">
            <h2 class="group-header">Settings</h2>
            <div class="bm-40">
              <h4>Sheet Title</h4>
              <input type="text" class="form-control" (ngModelChange)="self.methods.updateTitle()" [(ngModel)]="self.model.name">
            </div>
            <div class="bm-40">
              <h4>Warn before exiting</h4>
              <p>If turned on, a confirmation will appear before you navigate away from your sheet.</p>
              <label class="radio-inline">
                <input type="radio" (ngModelChange)="self.touch()" [(ngModel)]="self.model.prefs.show_confirmation" name="show_confirm" [value]="true" (click)="self.methods.turnOnConfirmation()"> Show Warning
              </label>
              <label class="radio-inline">
                <input type="radio" (ngModelChange)="self.touch()" [(ngModel)]="self.model.prefs.show_confirmation" name="show_confirm" [value]="false" (click)="self.methods.turnOffConfirmation()"> No Warning
              </label>
            </div>
            <div class="form-group settings-group" *ngIf="self.methods.isAdmin()">
              <div class="flex-row-all flex-gutters-10 bm-5">
                <div class="flex-col">
                  <input type="number" class="form-control" (ngModelChange)="self.touch()" [(ngModel)]="self.locals.migration_version">
                </div>

                <div class="flex-col">
                  <button class="button button-orange" (click)="self.methods.rerunMigration(self.locals.migration_version)">Rerun last migration (v<span>{{ self.model.version }}</span>)</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="help-link-wrapper">
        <a href="https://www.reddit.com/r/beyondtabletop" class="help-link" target="_blank">Questions? Something break? Get Help</a>
      </div>
    </footer>
  </div>
</div>
