<div class="map square-map"
  (keydown)="self.methods.onKeydown($event)"
  (keyup)="self.methods.onKeyup($event)"
  [ngStyle]="self.methods.getMapStyle(scene)"
  [ngClass]="self.methods.mapClasses(scene)"
  tabindex="0"
  cdkDrag
  (cdkDragReleased)="self.methods.mapDragStop($event)"
>
  <div class="token-drag-distance" [ngStyle]="self.methods.getTokenDragStyle()" *ngIf="self.locals.map.drag_indicator.distance !== ''">
    <span>{{ self.locals.map.drag_indicator.distance }}</span>
  </div>
  <bt-battlemap-context-menu [self]="self"></bt-battlemap-context-menu>
  <div class="shapes">
    <div class="shape"
      [ngClass]="self.methods.getShapeClasses(shape)"
      (click)="self.methods.selectItem(shape)"
      *ngFor="let shape of self.methods.listSceneShapes(scene)"
      [ngStyle]="self.methods.getOuterShapeStyle(shape)"
      cdkDrag
      cdkDragBoundary=".map"
      [cdkDragDisabled]="self.methods.isItemPinned(shape)"
      (cdkDragReleased)="self.methods.dragStop(shape, $event)"
      (cdkDragStarted)="self.methods.itemDragStart(shape, $event)"
    >
      <div class="image" [ngStyle]="self.methods.getInnerShapeStyle(shape)" (mousedown)="self.methods.onItemClick(shape, $event)" oncontextmenu="return false"></div>
      <!-- <bt-battlemap-shape-drawing *ngIf="self.locals.ready" [self]="self" [shape]="shape"></bt-battlemap-shape-drawing> -->
      <bt-battlemap-shape-resizer [self]="self" [shape]="shape"></bt-battlemap-shape-resizer>
    </div>
  </div>
  <div class="tokens">
    <div class="token"
      [ngClass]="self.methods.getTokenClasses(token, scene)"
      (click)="self.methods.selectItem(token)"
      *ngFor="let token of self.methods.listSceneTokens(scene)"
      [ngStyle]="self.methods.getOuterTokenStyle(token)"
      cdkDrag
      cdkDragBoundary=".map"
      (cdkDragReleased)="self.methods.dragStop(token, $event)"
      (cdkDragStarted)="self.methods.tokenDragStart(token, $event)"
      (cdkDragMoved)="self.methods.tokenDragMove($event)"
    >
      <div class="icon" [ngStyle]="self.methods.getInnerTokenStyle(token)" (mousedown)="self.methods.onItemClick(token, $event)" oncontextmenu="return false">
        <div class="icon-label" [ngStyle]="self.methods.getTokenTextStyle(token)">{{ self.methods.getLabelInitial(token.label) }}</div>
      </div>
    </div>
  </div>
  <svg class="fog-of-war" [class.see-thru]="self.locals.map.map_owner" *ngIf="scene.mask">
    <defs>
      <mask [id]="'mask-' + scene.id">
        <rect fill="white" x="0" y="0" width="100%" height="100%" />
        <rect *ngFor="let shape of self.methods.listFogOfWarShapes()"
          fill="black"
          class="hole"
          [class.round]="shape.round"
          [attr.x]="shape.position.left * self.locals.map.zoom"
          [attr.y]="shape.position.top * self.locals.map.zoom"
          [attr.width]="shape.size.width * self.locals.map.zoom"
          [attr.height]="shape.size.height * self.locals.map.zoom"
        />
      </mask>
    </defs>
    <rect class="bg" x="0" y="0" width="100%" height="100%" [attr.mask]="'url(#mask-' + scene.id + ')'"/>
  </svg>
</div>
